# Sanity check
## Minimal verification that cascade produces non-nonsense trajectories

In [1]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from ase.db import connect

from cascade.agents.db_orm import TrajectoryDB

In [2]:
?TrajectoryDB

Init signature: TrajectoryDB(db_url: 'str', logger: 'Optional[logging.Logger]' = None)
Docstring:      Wrapper for the database representations of trajectories and chunks
Init docstring:
Initialize the trajectory database manager

Args:
    db_url: PostgreSQL connection URL (e.g., 'postgresql://user:pass@host:port/dbname')
    logger: Optional logger for tracking engine creation
File:           ~/repos/cascade/cascade/agents/db_orm.py
Type:           type
Subclasses:

In [3]:
db_url = 'postgresql://ase:pw@localhost:5432/cascade'
db = TrajectoryDB(db_url)
ase_db = connect(db_url)

In [4]:
runs = pd.DataFrame.from_records(db.list_runs())

In [5]:
runs.head()

,run_id,first_created,last_updated,n_trajectories,n_done_trajectories
0,2026.01.29-22:19:27-144915,2026-01-29 16:19:28.077802-06:00,2026-01-29 16:19:38.930492-06:00,2,0
1,2026.01.29-21:59:11-144915,2026-01-29 15:59:11.811029-06:00,2026-01-29 15:59:30.316695-06:00,2,1
2,2026.01.29-21:44:03-144915,2026-01-29 15:44:04.349357-06:00,2026-01-29 15:47:55.985077-06:00,2,2
3,2026.01.29-21:32:43-144915,2026-01-29 15:32:44.279366-06:00,2026-01-29 15:33:08.128834-06:00,2,1
4,2026.01.29-21:21:20-144915,2026-01-29 15:21:20.786747-06:00,2026-01-29 15:21:35.630359-06:00,2,0

In [6]:
runs.tail()

,run_id,first_created,last_updated,n_trajectories,n_done_trajectories
208,2025.10.31-18:21:40-451a69,2025-10-31 13:21:40.509101-05:00,2025-10-31 13:21:40.519187-05:00,2,0
209,2025.10.31-18:18:57-451a69,2025-10-31 13:18:57.625552-05:00,2025-10-31 13:18:57.635521-05:00,2,0
210,2025.10.31-18:18:16-451a69,2025-10-31 13:18:16.936863-05:00,2025-10-31 13:18:16.947114-05:00,2,0
211,2025.10.31-18:17:34-451a69,2025-10-31 13:17:34.834340-05:00,2025-10-31 13:17:34.844208-05:00,2,0
212,2025.10.31-18:17:13-451a69,2025-10-31 13:17:13.515018-05:00,2025-10-31 13:17:13.521163-05:00,2,0

In [7]:
last_run_id = runs['run_id'][0]
db.list_run_summary(last_run_id)

{'run_id': '2026.01.29-22:19:27-144915',
 'n_trajectories': 2,
 'n_done': 0,
 'n_active': 2,
 'total_chunks': 3,
 'total_passed_chunks': 1,
 'total_failed_chunks': 2,
 'total_pending_chunks': 0,
 'total_training_frames': 10,
 'first_created': datetime.datetime(2026, 1, 29, 16, 19, 28, 77802, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=64800))),
 'last_updated': datetime.datetime(2026, 1, 29, 16, 19, 38, 930492, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=64800)))}

In [8]:
traj_info = pd.DataFrame.from_records(db.list_trajectories_in_run(last_run_id))
traj_info

,traj_id,target_length,chunks_completed,status,created_at,updated_at
0,0,10,0,TrajectoryStatus.RUNNING,2026-01-29 16:19:28.077802-06:00,2026-01-29 16:19:28.077802-06:00
1,1,10,1,TrajectoryStatus.RUNNING,2026-01-29 16:19:28.173712-06:00,2026-01-29 16:19:38.930492-06:00

In [9]:
run_summary = db.list_trajectory_summary(last_run_id, 0)
run_summary

{'run_id': '2026.01.29-22:19:27-144915',
 'traj_id': 0,
 'target_length': 10,
 'chunks_completed': 0,
 'created_at': datetime.datetime(2026, 1, 29, 16, 19, 28, 77802, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=64800))),
 'updated_at': datetime.datetime(2026, 1, 29, 16, 19, 28, 77802, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=64800))),
 'n_chunk_attempts': 1,
 'n_unique_chunks': 1,
 'chunk_breakdown': {0: {'n_attempts': 1,
   'latest_status': 'FAILED',
   'latest_attempt_index': 0}},
 'status_counts': {'PENDING': 0, 'PASSED': 0, 'FAILED': 1}}

In [10]:
chunks = pd.DataFrame.from_records(run_summary['chunk_breakdown'])
chunks

                           0
n_attempts                 1
latest_status         FAILED
latest_attempt_index       0

In [11]:
traj_ids = traj_info['traj_id']

In [12]:
pd.set_option('display.max_rows', 100)

In [13]:
attempt_details = []
for traj_id in traj_ids:
    df = pd.DataFrame.from_records(db.list_trajectory_attempts(last_run_id, 0))
    df.insert(loc=0, column='traj_id', value=traj_id)
    attempt_details.append(df)
attempt_details = pd.concat(attempt_details)
attempt_details

,traj_id,chunk_id,attempt_index,n_frames,audit_status,model_version,created_at,updated_at
0,0,0,0,5,FAILED,0,2026-01-29 16:19:35.895590-06:00,2026-01-29 16:19:36.858354-06:00
0,1,0,0,5,FAILED,0,2026-01-29 16:19:35.895590-06:00,2026-01-29 16:19:36.858354-06:00

In [14]:
passed_attempts = attempt_details.query('audit_status == "PASSED"')
passed_attempts.shape

(0, 8)

In [15]:
passed_attempts.groupby(['traj_id', 'chunk_id']).size().count()

0

In [16]:

for traj_id in traj_ids: 
    traj = db.get_trajectory_atoms(last_run_id, traj_id)
    r0 = traj[0].get_positions()
    mad = np.zeros(len(traj))
    for i, a in enumerate(traj):
        mad[i] = np.mean(np.abs(a.get_positions() - r0))
    plt.plot(mad)
    t = np.arange(mad.shape[0])
    plt.scatter(t, mad)
    plt.xlabel('timestep')
    plt.ylabel('$\mathbf{mean} [|\mathbf{r}_0 - \mathbf{r}_t|]$')
    plt.title(f'Traj {traj_id}')
    plt.show()

IndexError: list index out of range

In [17]:
traj

[]

In [18]:
events = db.list_chunk_events(last_run_id)
events = pd.DataFrame.from_records(events)

In [21]:
events.sort_values([
    'traj_id', 'chunk_id', 
    'created_at'])

,run_id,traj_id,chunk_id,attempt_index,event_type,frame_id,created_at
0,2026.01.29-22:19:27-144915,0,0,0,STARTED_DYNAMICS,NaN,2026-01-29 16:19:28.664964-06:00
1,2026.01.29-22:19:27-144915,0,0,0,FINISHED_DYNAMICS,NaN,2026-01-29 16:19:35.995571-06:00
2,2026.01.29-22:19:27-144915,0,0,0,STARTED_AUDIT,NaN,2026-01-29 16:19:36.186827-06:00
3,2026.01.29-22:19:27-144915,0,0,0,AUDIT_FAILED,NaN,2026-01-29 16:19:36.981305-06:00
4,2026.01.29-22:19:27-144915,0,0,0,STARTED_SAMPLING,NaN,2026-01-29 16:19:37.169443-06:00
5,2026.01.29-22:19:27-144915,0,0,0,STARTED_LABELING,NaN,2026-01-29 16:19:38.048092-06:00
6,2026.01.29-22:19:27-144915,0,0,0,STARTED_LABELING_FRAME,10269.0,2026-01-29 16:19:38.220238-06:00
7,2026.01.29-22:19:27-144915,0,0,0,FINISHED_LABELING_FRAME,10269.0,2026-01-29 16:19:38.929892-06:00
8,2026.01.29-22:19:27-144915,0,0,0,STARTED_LABELING_FRAME,10273.0,2026-01-29 16:19:39.544195-06:00
9,2026.01.29-22:19:27-144915,0,0,0,FINISHED_LABELING_FRAME,10273.0,2026-01-29 16:19:40.237932-06:00
10,2026.01.29-22:19:27-144915,0,0,0,STARTED_LABELING_FRAME,10275.0,2026-01-29 16:19:40.828151-06:00
11,2026.01.29-22:19:27-144915,0,0,0,FINISHED_LABELING_FRAME,10275.0,2026-01-29 16:19:41.120323-06:00
12,2026.01.29-22:19:27-144915,0,0,0,STARTED_LABELING_FRAME,10277.0,2026-01-29 16:19:41.458039-06:00
13,2026.01.29-22:19:27-144915,0,0,0,FINISHED_LABELING_FRAME,10277.0,2026-01-29 16:19:41.929991-06:00
14,2026.01.29-22:19:27-144915,0,0,0,STARTED_LABELING_FRAME,10267.0,2026-01-29 16:19:42.270877-06:00
15,2026.01.29-22:19:27-144915,0,0,0,FINISHED_LABELING_FRAME,10267.0,2026-01-29 16:19:42.606438-06:00
16,2026.01.29-22:19:27-144915,0,0,0,FINISHED_LABELING,NaN,2026-01-29 16:19:42.783123-06:00
17,2026.01.29-22:19:27-144915,0,0,0,FINISHED_SAMPLING,NaN,2026-01-29 16:19:42.965735-06:00
18,2026.01.29-22:19:27-144915,1,0,0,STARTED_DYNAMICS,NaN,2026-01-29 16:19:28.992233-06:00
19,2026.01.29-22:19:27-144915,1,0,0,FINISHED_DYNAMICS,NaN,2026-01-29 16:19:37.699088-06:00
20,2026.01.29-22:19:27-144915,1,0,0,STARTED_AUDIT,NaN,2026-01-29 16:19:38.219973-06:00
21,2026.01.29-22:19:27-144915,1,0,0,AUDIT_PASSED,NaN,2026-01-29 16:19:39.370251-06:00
22,2026.01.29-22:19:27-144915,1,1,0,STARTED_DYNAMICS,NaN,2026-01-29 16:19:40.237533-06:00
23,2026.01.29-22:19:27-144915,1,1,0,FINISHED_DYNAMICS,NaN,2026-01-29 16:19:43.175534-06:00
24,2026.01.29-22:19:27-144915,1,1,0,STARTED_AUDIT,NaN,2026-01-29 16:19:43.355579-06:00
25,2026.01.29-22:19:27-144915,1,1,0,AUDIT_FAILED,NaN,2026-01-29 16:19:43.893301-06:00
26,2026.01.29-22:19:27-144915,1,1,0,STARTED_SAMPLING,NaN,2026-01-29 16:19:44.155293-06:00
27,2026.01.29-22:19:27-144915,1,1,0,STARTED_LABELING,NaN,2026-01-29 16:19:44.946464-06:00
28,2026.01.29-22:19:27-144915,1,1,0,STARTED_LABELING_FRAME,10280.0,2026-01-29 16:19:45.039465-06:00
29,2026.01.29-22:19:27-144915,1,1,0,FINISHED_LABELING_FRAME,10280.0,2026-01-29 16:19:45.422216-06:00
30,2026.01.29-22:19:27-144915,1,1,0,STARTED_LABELING_FRAME,10284.0,2026-01-29 16:19:45.687906-06:00
31,2026.01.29-22:19:27-144915,1,1,0,FINISHED_LABELING_FRAME,10284.0,2026-01-29 16:19:45.968031-06:00
32,2026.01.29-22:19:27-144915,1,1,0,STARTED_LABELING_FRAME,10281.0,2026-01-29 16:19:46.236100-06:00
33,2026.01.29-22:19:27-144915,1,1,0,FINISHED_LABELING_FRAME,10281.0,2026-01-29 16:19:46.591475-06:00
34,2026.01.29-22:19:27-144915,1,1,0,STARTED_LABELING_FRAME,10282.0,2026-01-29 16:19:46.866449-06:00
35,2026.01.29-22:19:27-144915,1,1,0,FINISHED_LABELING_FRAME,10282.0,2026-01-29 16:19:47.149320-06:00
36,2026.01.29-22:19:27-144915,1,1,0,STARTED_LABELING_FRAME,10283.0,2026-01-29 16:19:47.413496-06:00
37,2026.01.29-22:19:27-144915,1,1,0,FINISHED_LABELING_FRAME,10283.0,2026-01-29 16:19:47.765127-06:00
38,2026.01.29-22:19:27-144915,1,1,0,FINISHED_LABELING,NaN,2026-01-29 16:19:47.943920-06:00
39,2026.01.29-22:19:27-144915,1,1,0,FINISHED_SAMPLING,NaN,2026-01-29 16:19:48.041331-06:00